<h1>Appointments Index</h1>
<button><%= link_to "Add appointment", tutor_root_path %></button>
<table>
<thead>
<tr>
    <th>Student</th>
    <th>Location</th>
    <th>Start time</th>
    <th>End Time</th>
</tr>
</thead>
<tbody>

<% @appointments.each do |appointment| %>
<tr>
    <td><%= appointment.student_name %></td>
    <td><%= appointment.location %></td>
    <td><%= appointment.start_time %></td>
    <td><%= appointment.end_time %></td>
</tr>
<p></p>
<% end %>
</tbody>
</table>
