<h1>Appointments</h1>
<button><%= link_to "Add appointment", new_appointment_path %></button>
<%= form_tag(appointments_path, method: 'get') do %>
<label for="filter_by_time">Filter By Time</label>
 <select name="filter_by_time">
    <option <%= 'selected' if params[:filter_by_time] == '' %> value="">All</option>
    <option <%= 'selected' if params[:filter_by_time] == 'past' %> value="past">Past</option>
    <option <%= 'selected' if params[:filter_by_time] == 'upcoming' %> value="upcoming">Upcoming</option>
  </select>
<label for="sort">Sort</label>
<select name="sort">
    <option <%= 'selected' if params[:sort] == '' %> value="">None</option>
    <option <%= 'selected' if params[:sort] == 'most_recent' %> value="most_recent">Date Asc</option>
    <option <%= 'selected' if params[:sort] == 'longest_ago' %> value="longest_ago">Date Desc</option>
  </select>
<%= submit_tag 'Filter Results' %>
<% end %>


<% @appointments.each do |appointment| %>
<p>
<%= link_to appointment.student_name, student_path(appointment.
student) %> has an appointment at <%= link_to appointment.start_time.
strftime('%b %e, %l:%M %p'), appointment_path(appointment) %> with 
<%= link_to appointment.tutor_name, tutor_path(appointment.tutor) %>
</p>
<% end %>