<!DOCTYPE html>
<html>
  <head>
    <title>TutorAppointmentRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if request.env['warden'].user.class.name == 'Tutor' %>
    <%= render partial: 'shared/tutor_navbar' %>
      <% else %>
    <%= render partial: 'shared/user_navbar' %>
    <% end %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% flash.each do |name,msg| -%>
    <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %>
  </body>
</html>
